@use 'variables' as *;

.form-field {
  label {
    display: block;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
  }

  input[type='text'] {
    display: block;
    border: 1px solid rgba($color-secondary, 0.4);
    background: transparent;
    color: white;
    width: 300px;
    padding: 0 0.5em;
    height: 42px;
    transition: border 0.45s ease;
    outline: none;

    &:not(input[readonly]):hover,
    &:not(input[readonly]):focus {
      border: 1px solid rgba($color-secondary, 0.8);
    }
  }

  input[readonly] {
    opacity: 0.5;
  }
}
