@forward 'button';
@forward 'resets';
@forward 'scrollbar';
@forward 'form';
@forward 'modal';
@forward 'transitions';
@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;700&display=swap');

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Encode Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-bg;
  color: white;
}
